@import url("login.css");
@import url("forgotPassword.css");
@import url("activate.css");
@import url("wrapper.css");
@import url("main.css");
@import url("constructionMain.css");
@import url("employment-agencyMain.css");
@import url("logistic.css");
@import url("vacancies-detales.css");
@import url("adaptive/adapt-home.css");
@import url("adaptive/adapt-construction.css");
@import url("adaptive/adapt-employmentAgency.css");




body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

