:root {
    --color1: #0e5287;
    --color2: #3b444b;
    --color3: #999999;
    --color4: #eeeeee;
    --color5: #8A99A4;
}






a {
    text-decoration: none !important;
}

body {
    margin: 0;
    padding: 0;

}

body {
    background-color: white;
}

.header-blocks {
    width: 100%;
    margin: 10px auto;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.header-block-msg{
    width: 30px;
    text-align: center;
    transform: translate(0,-7px);
    
}

.logo,
.header-block {
    width: 280px;
    text-align: center;
    

}

.header-block-msg .msg-box img{
    width: 28px;
}

.logo img {
    width: 280px;
}

.header-block-msg svg{
    fill: var(--color1);
}

.header-block .mail-title {
    display: flex;
    color: var(--color1);
    font-size: 24px;
    font-style: italic;
    justify-content: center;
    transform: translate(0, -20px);
}

.header-block .email {
    display: flex;
    color: var(--color2);
    transition: color 0.5s;
    transform: translate(0, -20px);
    justify-content: center;
    font-size: 20px;
}



.phone-title {
    display: flex;
    color: var(--color1);
    font-size: 25px;
    font-style: italic;
    justify-content: center;
    transform: translate(0, -20px);
}

.number {
    display: flex;
    color: var(--color2);
    transition: color 0.5s;
    transform: translate(0, -20px);
    justify-content: center;
    font-size: 20px;
}


.header-block-login {
    display: flex;
    justify-content: center;
}

.header-block-buttonArea {
    width: 100%;
    margin: 10px auto;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 25px;
}


.log-out {
    width: 150px;
    height: 50px;
    background-color: var(--color1);
    text-align: center;
    color: white;

    margin: 5px 0 0 5px;
    transition: background-color 0.5s;
}

.log-out:hover {
    background-color: black;
}

.log-in {
    width: 150px;
    height: 50px;
    background-color: var(--color1);
    text-align: center;
    color: white;

    margin: 5px 0 0 5px;
    transition: background-color 0.5s;
}

.log-in:hover {
    background-color: black;
}

.header-block-language {
    width: 150px;
    text-align: center;
    margin: 5px 0 0 5px;
    z-index: 9999;
}

.header-block-language:hover {
    background-color: black;
}

/* --------------------------------- */
.buttons {
    display: flex;
    height: 50px;
    justify-content: center;
    background-color: var(--color1);

}

.button {
    background-color: var(--color1);
    float: left;
    border-left: 1px solid white;
    border-right: 1px solid white;
    color: white;
    width: 300px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    transition: background-color 0.5s;
    font-size: 20px;
    box-sizing: border-box;

}

.button:hover {

    background-color: black;
}

/* ------------------------------------- */

/* banner panel */


.banner-panel {
    background-image: url("../../../../public/img/gortsiq.jpg");
    width: 100%;
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -24px;
}

.shade {
    width: 100%;
    height: 100%;
    background-color: rgba(14, 82, 135, 0.2)
}

.motto-title {
    color: black;

}


.motto {
    width: 350px;
    color: white;
    transform: translate(20%, 50%);
    font-size: 20px;
}

/* ----------------------------------- */

.welcome-title {
    text-align: center;
    font-size: 30px;

}

.welcome-text {
    width: 1100px;
    margin: 0 auto;
}

/* -------------------<<<<>>>>--------------------- */

.service-title {
    text-align: center;
    font-size: 30px;

}

.services {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.services-buttons {
    width: 100%;
    margin: 25px auto;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.services-button {
    width: 300px;
    height: 250px;
    border-radius: 25px;
    margin: 25px;
}

.services-button img {
    width: 300px;
    height: 250px;
    border-radius: 25px;
    transition: transform 0.1s ease;
}

.services-button img:hover {
    transform: scale(1.1);
}


/* -------------------------------------- */
footer {
    width: 100%;
    background-color: var(--color2);
    overflow: auto;

    box-sizing: border-box;
}

.footer {
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-items: flex-start;
}

.footer-address,
.footer-phone,
.footer-email {
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 250px;
    text-align: center;
    list-style: none;
    
}


.footer-info {
    width: 1200px;
    background-color: var(--color2);
    padding: 50px;
    padding-bottom: 100px;
    box-sizing: border-box;


}

.address-title {
    color: var(--color5);
    font-size: 40px;


}

.address-text {
    width: 200px;
    color: var(--color3);
    margin: 0 auto;
}

.footer-phone-title {
    color: var(--color5);
    font-size: 40px;

}

.footer-phone-text {
    width: 200px;
    color: var(--color3);
    margin: 0 auto;
    
    transform: translate(-20px, 0);
}

.footer-email-title {
    color: var(--color5);
    font-size: 40px;

}

.footer-email-text {
    width: 300px;
    color: var(--color3);
    margin: 0 auto;
    transform: translate(-40px, 0);
}




/* --------whatsapp--------- */


.fixed-button-area {
    position: relative;
    width: 100%;
    height: 100%;
}

.fixed-block {
    width: 80px;
    height: 80px;
    background-image: url('../../../../public/img/icon/WhatsApp-Logo-fixed.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 20px;
    margin-bottom: 50px;
}

.fixed-block {
    width: 80px;
    height: 80px;
    background-image: url('../../../../public/img/icon/WhatsApp-Logo-fixed.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 20px;
    margin-bottom: 50px;
}

.fixed-block-1 {
    width: 80px;
    height: 40px;
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 20px;
    margin-bottom: 180px;
    background: none;
    border: none;
    font-size: 50px;
    color: white;
}

.fixed-block-1 path{
    fill: var(--color1);
}


/* -------- Up Button --------- */