.image{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.image img{
    width: 500px;
    height: 500px;
}
.image svg{
    width: 20px;
    height: 20px;
}

svg, button{
    cursor: pointer;
}