@media screen and (max-width: 1200px) {
    .history-text {
        width: 1100px;
    }
}

@media screen and (max-width: 1100px) {
    .history-text {
        width: 1000px;
    }

    .Price-table {
        width: 900px;

        margin: 0 auto;
    }

    .priceList {
        padding-bottom: 50px;
        margin-bottom: 50px;
    }

    .priceList-area {
       
        width: 1000px;
        margin: 0 auto;
        padding-bottom: 25px;
        border-radius: 10px;
    }

    .service-name {
        width: 600px;
    }
}

@media screen and (max-width: 1000px) {

    .history-text {
        width: 900px;
    }

    .Prices-table {
        width: 800px;
        margin: 0 auto;
    }

    .priceList {
        padding-bottom: 50px;
        margin-bottom: 50px;
    }

    .priceList-area {
       
        width: 900px;
        margin: 0 auto;
        padding-bottom: 25px;
        border-radius: 10px;
    }

    .service-name {
        width: 500px;
        font-size: 17px;
    }
}


@media screen and (max-width: 900px) {

    .history-text {
        width: 700px;
    }

    .Prices-table {
        width: 600px;
        margin: 0 auto;
    }

    .priceList {
        padding-bottom: 50px;
        margin-bottom: 50px;
    }

    .priceList-area {
       
        width: 700px;
        margin: 0 auto;
        padding-bottom: 25px;
        border-radius: 10px;
    }

    .service-name {
        width: 400px;
        font-size: 17px;
    }
}


@media screen and (max-width: 700px) {

    .history-text {
        width: 440px;
    }

    .Prices-table {
        width: 400px;
        margin: 0 auto;
    }

    .priceList {
        padding-bottom: 50px;
        margin-bottom: 50px;
    }

    .priceList-area {
       
        width: 450px;
        margin: 0 auto;
        padding-bottom: 25px;
        border-radius: 10px;
    }

    .service-name {
        width: 400px;
        font-size: 17px;
    }
}

@media screen and (max-width: 414px) {
    .history-title{
        font-size: 20px;
    }

    .history-text {
        width: 390px;
    }

    .Prices-table {
        width: 400px;
        margin: 0 auto;
    }

    .Prices-table th{
        font-size: 13px;
    }

    .priceList {
        padding-bottom: 50px;
        margin-bottom: 50px;
    }

    .priceList-area {
       
        width: 410px;
        margin: 0 auto;
        padding-bottom: 25px;
        border-radius: 10px;
    }

    .service-name {
        width: 400px;
        font-size: 17px;
    }
}

@media screen and (max-width: 390px) {
    .history-title{
        font-size: 20px;
    }

    .history-text {
        width: 390px;
    }

    .Prices-table {
        width: 380px;
        margin: 0 auto;
    }

    .Prices-table th{
        font-size: 13px;
    }

    .priceList {
        padding-bottom: 50px;
        margin-bottom: 50px;
    }

    .priceList-area {
       
        width: 390px;
        margin: 0 auto;
        padding-bottom: 25px;
        border-radius: 10px;
    }

    .service-name {
        width: 400px;
        font-size: 17px;
    }
}

@media screen and (max-width: 375px) {
    .history-title{
        font-size: 20px;
    }

    .history-text {
        width: 375px;
    }

    .Prices-table {
        width: 375px;
        margin: 0 auto;
    }

    .priceList {
        padding-bottom: 50px;
        margin-bottom: 50px;
    }

    .priceList-area {
       
        width: 374px;
        margin: 0 auto;
        padding-bottom: 25px;
        border-radius: 10px;
    }

    .service-name {
        width: 374px;
        font-size: 17px;
    }
}
@media screen and (max-width: 360px) {
    .vacanciesTitle{
        font-size: 25px;
    }
    .history-title{
        font-size: 20px;
    }

    .history-text {
        width: 360px;
    }

    .Prices-table {
        width: 330px;
        margin: 0 auto;
    }

    .priceList {
        padding-bottom: 50px;
        margin-bottom: 50px;
    }

    .priceList-area {
       
        width: 340px;
        margin: 0 auto;
        padding-bottom: 25px;
        border-radius: 10px;
    }

    .service-name {
        width: 310px;
        font-size: 17px;
    }
    .Prices-table thead th{
        font-size: 12px;
        
    }
}