@import "variables";

.add-new-galleries {
  padding: 25px;

  h1 {
    color: $dark;
    font-size: 28px;
    font-weight: 600;
    font-family: $robotoFont;
    transition: $themeTime;
  }

  .add_con {
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;

    form {
      width: 700px;
      height: 180px;
      background: #D9D9D9;
      border-radius: 10px;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      .gallery_list {
        width: 100%;
        padding: 18px 0 18px 0;
        display: flex;
        overflow-x: scroll;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 10px;

        li {
          list-style: none;
          margin-right: 10px;

          figure {
            width: 120px;
            height: 120px;
            border-radius: 7px;
            overflow: hidden;
            cursor: pointer;
            position: relative;

            .delete {
              width: 25px;
              height: 25px;
              display: flex;
              justify-content: center;
              align-items: center;
              position: absolute;
              right: 0;
              top: 0;
              color: $light;
              background: rgba(0, 0, 0, 0.45);
              cursor: pointer;
              font-size: 20px;
              border-radius: 5px 0 0 5px;
            }

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }

      }

      .left_row {
        padding: 10px;
        width: 50%;
        .input_item {
          width: 350px;
          height: 45px;
          border-radius: 5px;
          overflow: hidden;
          margin-top: 10px;

          input {
            width: 100%;
            height: 100%;
            border: none;
            outline: none;
            padding-left: 3px;
            color: black;
            font-size: 16px;
            font-weight: $robotoFont;
          }

          label{
            input{
              width: 15px;
              height: 15px;
              margin-left: 10px;
            }
          }
        }

        .item_file_cat {
          margin-top: 15px;
        }

        small {
          color: red;
          font-size: 14px;
          font-family: $robotoFont;
        }
      }

      button {
        width: 200px;
        padding: 12px 65px 12px 65px;
        border: none;
        border-radius: 5px;
        background: #013EAC;
        color: $light;
        font-weight: 500;
        cursor: pointer;
        margin-top: 20px;
        transition: $themeTime;
      }

      button:hover {
        background: rgba(1, 62, 172, 0.59);
      }
    }

    .icon_file_img {
      width: 200px;
      height: 150px;
      padding: 10px;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        object-fit: cover;
      }
    }
  }
}
