@import "variables";

.add_new_tour {
  padding: 25px;
  min-height: 90vh;

  form {
    width: 100%;
    padding-top: 5rem;

    .cont_form {
      display: flex;
      justify-content: space-between;

      .left_item {
        width: 50%;
        padding: 25px;

        .input_item {
          width: 420px;
          border-radius: 5px;
          position: relative;
          overflow: hidden;
          transition: $themeTime;

          input {
            width: 100%;
            height: 45px;
            border: 1px solid hsl(0, 0%, 60%);
            background: none;
            color: $dark;
            font-size: 16px;
            outline: none;
            padding-left: 10px;
            border-radius: 5px;
          }

          input::placeholder {
            font-size: 13px;
          }

          .remove {
            position: absolute;
            right: 5px;
            color: red;
            font-size: 20px;
            cursor: pointer;
            bottom: 12px;
          }
        }

        .m_top {
          margin-top: 30px;
        }

        .featured_images {
          width: 350px;
          padding: 5px 0 5px 0;
          margin-top: 30px;
          border-radius: 5px;
          position: relative;
          overflow: hidden;
          transition: $themeTime;

          span {
            display: block;
            color: $dark;
            font-size: 16px;
            font-weight: 700;
            font-family: $dancingFont;
            transition: $themeTime;
            margin-bottom: 7px;
          }

          .row_featured {
            display: flex;
            align-items: center;

            figure {
              width: 100px;
              height: 70px;
              border-radius: 10px;
              overflow: hidden;
              margin-left: 2.8rem;
              cursor: pointer;

              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
          }
        }

        .destinations_select {
          width: 420px;
          padding: 10px 0;
          margin-top: 15px;

          .css-1fdsijx-ValueContainer {
            padding: 10px 10px 10px 10px;
          }
        }
      }

      .right_item {
        width: 50%;
        padding: 25px;

        .schedule_calendar {
          .row {
            display: flex;

            .btn {
              height: 45px;
              transform: translateX(5px);
              padding-left: 15px;
              padding-right: 15px;
              border-radius: 5px;
              border: none;
              background: #23a6d5;
              cursor: pointer;
              color: $light;
              display: flex;
              align-items: center;
              justify-content: center;
            }

            .react-datepicker-wrapper {
              width: 300px;

              .react-datepicker__input-container {
                input {
                  width: 100%;
                  height: 45px;
                  border-radius: 5px;
                  border: 0.5px solid $dark;
                  padding-left: 10px;
                  font-size: 16px;
                  color: $dark;
                  font-weight: $robotoFont;
                }
              }
            }
          }

          .schedule_list {
            padding: 5px 15px 5px 15px;
            width: 250px;

            li {
              padding: 5px 0 5px 0;

              div {
                display: flex;
                justify-content: space-between;
                align-items: center;
              }

              .icon {
                font-size: 20px;
                color: $dark;
                cursor: pointer;
              }

              p {
                color: $dark;
                font-family: $robotoFont;
                font-size: 13px;

              }
            }
          }
        }

        .input_item_right {
          margin-top: 25px;

          .price_row {
            position: relative;
            width: 150px;

            input {
              width: 100%;
              height: 45px;
              border: 1px solid $dark;
              border-radius: 5px;
              color: black;
              padding-left: 10px;
              outline: none;
              padding-right: 25px;
            }

            .remove {
              position: absolute;
              font-size: 20px;
              cursor: pointer;
              right: 5px;
              top: 13px;
            }
          }
        }

        .add_gallery {
          padding: 15px 0 15px 0;
          margin-top: 20px;

          .file_gallery {
            width: 156px;

            #files_gallery {
              display: none;
            }
          }

          .gallery_list {
            width: 100%;
            padding: 18px 0 18px 0;
            display: flex;
            overflow-x: scroll;

            li {
              list-style: none;
              margin-right: 10px;

              figure {
                width: 120px;
                height: 120px;
                border-radius: 7px;
                overflow: hidden;
                cursor: pointer;
                position: relative;

                .delete {
                  width: 25px;
                  height: 25px;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  position: absolute;
                  right: 0;
                  top: 0;
                  color: $light;
                  background: rgba(0, 0, 0, 0.45);
                  cursor: pointer;
                  font-size: 20px;
                  border-radius: 5px 0 0 5px;
                }

                img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                }
              }
            }

          }
        }

        .desc_text {
          padding-top: 20px;

          textarea {
            border-radius: 10px;
            width: 90%;
            height: 145px;
            resize: none;
            padding: 10px;
            outline: none;
            color: $dark;
            font-family: $robotoFont;
            font-size: 16px;
          }
        }
      }
    }

    button {
      display: block;
      margin: 28px auto;
      padding: 12px 120px 12px 120px;
      color: #E88716;
      border-radius: 7px;
      border: none;
      font-weight: 900;
      font-size: 17px;
      cursor: pointer;
      background: #D9D9D9;
    }
  }
}

.zoom_featured {
  width: 100%;
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.34);
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  .modal {
    width: 800px;
    padding: 25px;
    border-radius: 10px;
    background: $light;
    animation: slide-in-elliptic-top-fwd .7s cubic-bezier(.25, .46, .45, .94) both;

    .close {
      position: absolute;
      right: 4px;
      top: 4px;
      color: red;
      cursor: pointer;
      font-size: 21px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
    }
  }

  .isActive {
    animation: slide-out-elliptic-top-bck .7s ease-in both;
  }
}


.slider_gallery {
  width: 100%;
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;

  .modal {
    width: 900px;
    height: 650px;
    background: $light;
    padding: 20px;
    border-radius: 10px;
    animation: scale-up-center .4s cubic-bezier(.39, .575, .565, 1.000) both;
    overflow: hidden;

    .close {
      position: absolute;
      right: 0;
      top: -1px;
      font-size: 21px;
      color: red;
      cursor: pointer;
      z-index: 99;
    }

    .carousel {
      width: 100%;
      height: 500px;
      overflow: hidden;
      position: relative;
      border-radius: 5px;


      figure {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 1;
        opacity: 0;
        transition: $themeTime;
        top: 0;
        left: 0;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

      }

      .activeImages {
        opacity: 1;
      }

      .icon {
        font-size: 45px;
        color: white;
        width: 55px;
        height: 55px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        animation: slit-out-vertical .5s ease-in both;
        transition: $themeTime;
        opacity: 0;
      }

      .icon:hover {
        color: red;
      }

      .next {
        right: 0;
        padding-right: 2px;

      }

      .next:hover {
        .icon {
          opacity: 0.8;
          background: rgba(0, 0, 0, 0.75);
        }
      }

      .previous {
        left: 0;
        padding-right: 2px;
        justify-content: flex-start;

      }

      .previous:hover {
        .icon {
          opacity: 0.8;
          background: rgba(0, 0, 0, 0.75);
        }
      }
    }

    .bottom_list {
      width: 100%;
      padding: 10px 0 10px 0;
      display: flex;

      figure {
        width: 140px;
        height: 110px;
        margin-left: 10px;
        border-radius: 5px;
        overflow: hidden;
        transform: scale(1);
        transition: $themeTime;
        cursor: pointer;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .activeBottomImages {
        transform: scale(0.9);
      }
    }
  }

  .isActive {
    animation: slide-out-elliptic-top-bck .7s ease-in both;
  }
}

.carousel_icon {
  width: 100px;
  height: 100%;
  position: absolute;
  z-index: 999;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
}

@keyframes scale-up-center {
  0% {
    transform: scale(.5)
  }
  100% {
    transform: scale(1)
  }
}

.errors_message {
  color: red;
  font-size: 13px;
  margin-left: 5px;
}
