@import "variables";

.account-edit-password {
  min-height: 380px;
  padding: 50px 15px 30px 15px;

  .input-row {
    margin-bottom: 25px;

    .input-item-row {
      display: flex;
      align-items: center;

      .icon-input {
        font-size: 20px;
        color: white;
      }

      input {
        width: 100%;
        background: none;
        height: 30px;
        color: black;
        font-size: 14px;
        padding-left: 3px;
        outline: none;
        border: none;
      }

      input::placeholder {
        color: white;
        transform: translateY(5px);
        font-size: 19px;
      }
    }

    .inputs {
      position: relative;
      overflow: hidden;

      .show-password-icon {
        position: absolute;
        right: 10px;
        font-size: 20px;
        color: white;
        cursor: pointer;
      }

      small {
        color: white;
        font-size: 16px;
        font-family: $dancingFont;
      }
    }

    .inputs::after {
      content: '';
      width: 100%;
      height: 2px;
      background: rgba(255, 255, 255, 0.56);
      position: absolute;
      bottom: 0;
      left: 0;
      transform: scale(0);
      transition: $themeTime;
    }

    .inputs:hover::after {
      transform: scale(1);
    }

    .inputs:hover {
      background-color: rgba(255, 255, 255, 0.4);

      span {
        color: $light;
      }

    }

    .errors-old-text {
      font-size: 12px;
      margin-left: 5px;
      margin-top: 5px;
      color: red;
      display: flex;
      align-items: center;

      .errors-old {
        transform: translateX(-3px);
      }
    }

    .strong-text {
      font-size: 12px;
      margin-left: 5px;
      margin-top: 5px;
      color: $dark;
      display: flex;
      font-family: $robotoFont;
      align-items: center;

      .strong-text-icon {
        transform: translateX(-3px);
        color: #3FB366;
      }
    }
  }

  button {
    display: block;
    margin: auto;
    padding: 12px 50px 12px 50px;
    background: #013EAC;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: $light;
    transition: $themeTime;
  }

  button:hover {
    background: #23a6d5;
  }
  .messages{
    display: block;
    color: #3FB366;
    font-family:$robotoFont;
    font-size: 13px;
    text-align: center;
    transform: translateY(-15px);
  }
}
