$dark: #000000;
$light: #ffffff;
$themeTime: ease-in 0.5s;
$dancingFont:'Dancing Script', sans-serif;
$robotoFont:'Roboto', sans-serif;
$shadowDark: 8px 3px 15px -1px rgb(0, 0, 0, 0.5);
$shadowLight: 0.5px 3px 5px -1px #fff;
$color_1: #1cd5b5;
$color_2: #3b444b;
$color_3: #999999;
$color_4: #eeeeee;
$background-color_1: red;


